# Load data from Lending Club
Lending Club provides information on all past applications (and current loan status)

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', 100)
%matplotlib inline
# 2013-2014 loan data - files are available from deeper history
past_loans = pd.read_csv('LoanStats3c_securev1.csv', header = 1, index_col=0)
past_loans['term'] = past_loans['term'].astype('category')
past_loans['grade'] = past_loans['grade'].astype('category')
past_loans['sub_grade'] = past_loans['sub_grade'].astype('category')
past_loans['home_ownership'] = past_loans['home_ownership'].astype('category')
past_loans['verification_status'] = past_loans['verification_status'].astype('category')

# Making assumption that any currently late loans are bad; may need to revisit
di = {'Current': 'Good', 'Fully Paid': 'Good', 'Charged Off': 'Bad', 'Late (31-120 days)': 'Bad',
       'In Grace Period': 'Bad', 'Late (16-30 days)': 'Bad', 'Default': 'Bad'}
past_loans.replace({'loan_status': di}, inplace=True)
past_loans['loan_status'] = past_loans['loan_status'].astype('category')
past_loans['pymnt_plan'] = past_loans['pymnt_plan'].astype('category')
past_loans['purpose'] = past_loans['purpose'].astype('category')
past_loans['application_type'] = past_loans['application_type'].astype('category')

# convert dates
past_loans['issue_d'] = pd.to_datetime(past_loans['issue_d'])
past_loans['earliest_cr_line'] = pd.to_datetime(past_loans['earliest_cr_line'])
past_loans['last_pymnt_d'] = pd.to_datetime(past_loans['last_pymnt_d'])
past_loans['next_pymnt_d'] = pd.to_datetime(past_loans['next_pymnt_d'])
past_loans['last_credit_pull_d'] = pd.to_datetime(past_loans['last_credit_pull_d'])
past_loans['issue_d'] = pd.to_datetime(past_loans['issue_d'])

# convert floats
past_loans['int_rate'] = pd.to_numeric(past_loans['int_rate'].str.extract('(.*)%'))/100


# drop pointless data
past_loans=past_loans.dropna(axis=1,how='all')
past_loans.drop('application_type',axis = 1) # only contains "individual"
past_loans.head(100)

# Explore different categorical data
What values are inside the categorical fields?

In [54]:
pd.unique(past_loans['term'])

array([' 36 months', ' 60 months', nan], dtype=object)

In [55]:
pd.unique(past_loans['grade'])

array(['A', 'C', 'D', 'B', 'E', 'F', 'G', nan], dtype=object)

In [56]:
pd.unique(past_loans['sub_grade'])

array(['A3', 'C1', 'D4', 'C3', 'D1', 'D5', 'B5', 'B4', 'C4', 'E5', 'D2',
       'B3', 'C5', 'E4', 'E3', 'C2', 'B2', 'A5', 'F1', 'B1', 'D3', 'A4',
       'E1', 'E2', 'G2', 'A1', 'G1', 'A2', 'F3', 'F2', 'G3', 'F4', 'G4',
       'F5', 'G5', nan], dtype=object)

In [57]:
pd.unique(past_loans['home_ownership'])

array(['MORTGAGE', 'RENT', 'OWN', 'ANY', nan], dtype=object)

In [58]:
pd.unique(past_loans['verification_status'])

array(['Not Verified', 'Source Verified', 'Verified', nan], dtype=object)

In [59]:
pd.unique(past_loans['loan_status'])

array(['Good', 'Bad', nan], dtype=object)

In [60]:
pd.unique(past_loans['pymnt_plan'])

array(['n', 'y', nan], dtype=object)

In [61]:
pd.unique(past_loans['purpose'])

array(['credit_card', 'debt_consolidation', 'car', 'house',
       'home_improvement', 'other', 'medical', 'moving', 'major_purchase',
       'vacation', 'small_business', 'renewable_energy', 'wedding', nan], dtype=object)

# Examine field types and amount of data
Is there any missing data?

In [62]:
past_loans.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235631 entries, 36805548 to Total amount funded in policy code 2: 873652739
Data columns (total 60 columns):
member_id                      235629 non-null float64
loan_amnt                      235629 non-null float64
funded_amnt                    235629 non-null float64
funded_amnt_inv                235629 non-null float64
term                           235629 non-null category
int_rate                       235629 non-null object
installment                    235629 non-null float64
grade                          235629 non-null category
sub_grade                      235629 non-null category
emp_title                      222393 non-null object
emp_length                     235629 non-null object
home_ownership                 235629 non-null category
annual_inc                     235629 non-null float64
verification_status            235629 non-null category
issue_d                        235629 non-null datetime64[ns]
loan_status                    235629 non-null category
pymnt_plan                     235629 non-null category
url                            235629 non-null object
desc                           15279 non-null object
purpose                        235629 non-null category
title                          235629 non-null object
zip_code                       235629 non-null object
addr_state                     235629 non-null object
dti                            235629 non-null float64
delinq_2yrs                    235629 non-null float64
earliest_cr_line               235629 non-null datetime64[ns]
fico_range_low                 235629 non-null float64
fico_range_high                235629 non-null float64
inq_last_6mths                 235629 non-null float64
mths_since_last_delinq         119748 non-null float64
mths_since_last_record         41524 non-null float64
open_acc                       235629 non-null float64
pub_rec                        235629 non-null float64
revol_bal                      235629 non-null float64
revol_util                     235504 non-null object
total_acc                      235629 non-null float64
initial_list_status            235629 non-null object
out_prncp                      235629 non-null float64
out_prncp_inv                  235629 non-null float64
total_pymnt                    235629 non-null float64
total_pymnt_inv                235629 non-null float64
total_rec_prncp                235629 non-null float64
total_rec_int                  235629 non-null float64
total_rec_late_fee             235629 non-null float64
recoveries                     235629 non-null float64
collection_recovery_fee        235629 non-null float64
last_pymnt_d                   235486 non-null datetime64[ns]
last_pymnt_amnt                235629 non-null float64
next_pymnt_d                   170256 non-null datetime64[ns]
last_credit_pull_d             235602 non-null datetime64[ns]
last_fico_range_high           235629 non-null float64
last_fico_range_low            235629 non-null float64
collections_12_mths_ex_med     235629 non-null float64
mths_since_last_major_derog    66478 non-null float64
policy_code                    235629 non-null float64
application_type               235629 non-null category
acc_now_delinq                 235629 non-null float64
tot_coll_amt                   235629 non-null float64
tot_cur_bal                    235629 non-null float64
total_credit_rv                235629 non-null float64
dtypes: category(9), datetime64[ns](5), float64(36), object(10)
memory usage: 95.5+ MB

# Check out summary stats on the numeric fields

In [63]:
past_loans.describe().transpose() #.to_string()

,count,mean,std,min,25%,50%,75%,max
member_id,235629,24019299.796719,8825162.024128,137225.00,15579724.00,22953173.00,31767065.00,40860827.0000
loan_amnt,235629,14870.156793,8438.318193,1000.00,8325.00,13000.00,20000.00,35000.0000
funded_amnt,235629,14870.156793,8438.318193,1000.00,8325.00,13000.00,20000.00,35000.0000
funded_amnt_inv,235629,14865.334169,8435.524995,950.00,8325.00,13000.00,20000.00,35000.0000
installment,235629,442.482374,245.050238,23.36,265.68,384.12,578.71,1409.9900
annual_inc,235629,74854.148281,55547.533374,3000.00,45377.00,65000.00,90000.00,7500000.0000
dti,235629,18.040770,8.023002,0.00,12.02,17.63,23.76,39.9900
delinq_2yrs,235629,0.344512,0.898319,0.00,0.00,0.00,0.00,22.0000
fico_range_low,235629,692.497358,29.246641,660.00,670.00,685.00,705.00,845.0000
fico_range_high,235629,696.497418,29.246952,664.00,674.00,689.00,709.00,850.0000
inq_last_6mths,235629,0.755760,1.033981,0.00,0.00,0.00,1.00,6.0000
mths_since_last_delinq,119748,33.398019,21.779818,0.00,15.00,30.00,49.00,188.0000
mths_since_last_record,41524,70.711444,28.463384,0.00,50.00,69.00,97.00,121.0000
open_acc,235629,11.668093,5.268175,0.00,8.00,11.00,14.00,84.0000
pub_rec,235629,0.222460,0.604696,0.00,0.00,0.00,0.00,63.0000
revol_bal,235629,16508.089289,21462.890835,0.00,6336.00,11686.00,20528.00,2560703.0000
total_acc,235629,26.010826,11.895675,2.00,17.00,24.00,33.00,156.0000
out_prncp,235629,7295.149133,7216.567653,0.00,0.00,5589.13,11570.30,32399.9400
out_prncp_inv,235629,7293.001286,7214.696616,0.00,0.00,5588.04,11565.39,32399.9400
total_pymnt,235629,9128.501825,6834.160160,0.00,4495.98,7220.40,11576.40,48507.4800
total_pymnt_inv,235629,9125.328977,6831.482011,0.00,4495.82,7217.24,11573.46,48438.1800
total_rec_prncp,235629,6847.253143,6179.516396,0.00,2875.00,4816.26,8500.00,35000.0000
total_rec_int,235629,2229.370925,1894.728618,0.00,889.91,1659.20,2967.57,15623.6000
total_rec_late_fee,235629,0.423801,4.235531,0.00,0.00,0.00,0.00,252.8000
recoveries,235629,51.453957,418.817327,0.00,0.00,0.00,0.00,20502.1400
collection_recovery_fee,235629,6.975201,65.355422,0.00,0.00,0.00,0.00,3089.5001
last_pymnt_amnt,235629,2669.785243,5457.528687,0.00,299.15,485.07,921.20,36234.4400
last_fico_range_high,235629,689.920714,62.736675,0.00,664.00,694.00,729.00,850.0000
last_fico_range_low,235629,681.840605,86.578854,0.00,660.00,690.00,725.00,845.0000
collections_12_mths_ex_med,235629,0.015440,0.143081,0.00,0.00,0.00,0.00,20.0000
mths_since_last_major_derog,66478,43.370378,21.961926,0.00,26.00,43.00,60.00,188.0000
policy_code,235629,1.000000,0.000000,1.00,1.00,1.00,1.00,1.0000
acc_now_delinq,235629,0.005734,0.081086,0.00,0.00,0.00,0.00,4.0000
tot_coll_amt,235629,270.301703,18952.919024,0.00,0.00,0.00,0.00,9152545.0000
tot_cur_bal,235629,139802.266962,153022.613129,0.00,29460.00,82027.00,209506.00,4026405.0000
total_credit_rv,235629,30709.047999,36879.796375,0.00,13300.00,22800.00,38400.00,9999999.0000

# Create dependent and independent data

In [64]:
X = past_loans.drop('loan_status', axis = 1)
y = past_loans['loan_status']

# Split into training and test data

In [65]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
# 10 cross validation iterations with 20% test / 80% train
from sklearn.cross_validation import ShuffleSplit
cv = ShuffleSplit(X_train.shape[0], n_iter=10, test_size=0.2, random_state=0)

# Standardize the data

In [66]:
from sklearn.preprocessing import StandardScaler
stdsc = StandardScaler()
# transform our training features
X_train_std = stdsc.fit_transform(X_train)
# transform the testing features in the same way
X_test_std = stdsc.transform(X_test)

ValueError: could not convert string to float: INDIVIDUAL