# Are religious Americans more likely to repay loans?
The recent rise of peer-to-peer lending has been stunning. Starting from zero a few years ago, platforms like Lending Club are already placing $10 billion of unsecured personal loans per year. 

The concept is simple: a borrower fills in an application, investors choose to fund part or all of the loan, and the platform takes care of fine details, like collecting payments and annoying late borrowers. In theory, this disintermediation of banks from consumer credit lowers borrowing rates, improves investor returns, and leaves a healthy margin for the platform's profits.

The platforms publish anonymized default history from previous loans. This data helps investors make smarter decisions about future loans - attracting more investment dollars. Investors use the data to try to pick loans with a high interest rate, but a lower likelihood of default.

## Data set
For now, I will use only 36 month loans originating before 2013 (maturing before 2016). For now, I will restrict my data set to 2012 (as we go back further, the underwriting standards change). If I fill rows to handle current loans (see below), I will bring in more recent data.

## Pre-processing
The data was modified to allow robust statistical analysis:
- Religiosity was mapped from county code to county to zip code and then, finally to individual loans. This required string manipulation to build county and zip codes, plus data joins.

## Predictive factors
Many factors look to be of interest. Obvious ones include:
- FICO Score
- Debt to Income ratio
- Size of loan

Additional factors that people have provided some evidence for:
- Loan description length
  - Long descriptions are bad: http://drjasondavis.com/blog/2012/04/08/lending-club-loan-analysis-making-money-with-logistic-regression
  - Long descriptions are good: https://lendingclubmodeling.wordpress.com/2011/04/25/why-loan-descriptions-and-qa-matter/
- Loan purpose: http://blog.lendingrobot.com/research/predicting-the-number-of-payments-in-peer-lending/

Other useful articles:
- http://blog.lendingrobot.com/research/predicting-returns-for-ongoing-loans/
- http://kldavenport.com/gradient-boosting-analysis-of-lendingclubs-data/

## Analysis

### Predicted variable
We're ultimately concerned with risk-adjusted return. However, analysis is simpler with certain assumptions. These may be revisited in a future analysis:
- Risk-adjustment can be handled separately
- Return = interest rate - probability of default * loss given default
- PD follows the same hazard curve, regardless of risk grade or other factors
- LGD is the same for different risk grades and only depends on lateness severity

Therefore, we can focus on PD only.

Explore:
- shape of default curve at different risk grades
- chance of late payments developing into default at different grades
- recovery amounts at different grades
- do late fees help out?

## Conclusion

### Caveats
This study has focused on a methodology for answering sociological questions and predicting defaults. Other issues to resolve for successful investing in P2P include:
- API access: smart investors, such as hedge funds are rumored to quickly cream off the best loans. Any superior statistical view must also compete on execution speed.
- Returns should be risk-adjusted for proper comparison to alternative investments, such as the S&P 500. An examination of similar grades of unsecuritized personal loans (credit cards) across the entire credit cycle would help capture both beta and true risk of default.
- Lending Club uses NAR (Net Annualized Return, a non-standard method that assumes all current loans will pay 100%) http://danielodio.com/one-year-in-lending-money-to-complete-strangers-via-an-api-and-why-you-should-try-it
- Investment size: what is the proper amount to invest in each loan to achieve the Kelly Criterion?
- Loans do not receive capital gains treatment and are taxed as ordinary income.

## Load data from Lending Club
Lending Club provides information on all past applications (and current loan status)

## Input files
- **LoanStats3a_securev1.csv.zip:** 2007-2011 Lending Club default history from https://www.lendingclub.com/info/download-data.action (when logged in)
- **LoanStats3b_securev1.csv.zip:** 2012-2013 Lending Club default history
- **LoanStats3c_securev1.csv.zip:** 2013-2014 Lending Club default history (currently reading this one only)
- **LoanStats3d_securev1.csv.zip:** 2015-2015 Lending Club default history
  - According to http://www.lendingmemo.com/lendingrobot-investing-review/, lending standards changed drastically starting in 2013
- **ZIP_COUNTY_122015.xlsx:** list of zip codes and county codes
- **national_county.txt:** list of states and counties mapped to code from US Census
- **2010.csv:** list of US counties, population, congregations, and adherents from http://www.rcms2010.org/ 
  - This website also has info breaking down into specific religion
- **US_elect_county:** 2012 presidential elections by county from http://www.theguardian.com/news/datablog/2012/nov/07/us-2012-election-county-results-download

In [312]:
import pandas as pd
pd.set_option('display.max_columns', 100)
%matplotlib inline
# map zip codes to county codes 
zip_counties = pd.read_excel('ZIP_COUNTY_122015.xlsx', skiprows = 0, header = 0)
zip_counties['COUNTY'] = zip_counties['COUNTY'].astype(str).str.zfill(5)
zip_counties['ZIP'] = zip_counties['ZIP'].astype(str).str.zfill(5)
zip_counties.sample()

         ZIP COUNTY  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
49011  94610  06001          1          1          1          1

In [313]:
import pandas as pd
pd.set_option('display.max_columns', 100)
%matplotlib inline
# map county codes to county names
national_county = pd.read_csv('national_county.txt', 
    names=['State', 'State_Code', 'County_Code', 'County', 'H1'], dtype={1: str, 2: str})
# combine into needed fields
national_county['County_Code_Full'] = national_county['State_Code'] + national_county['County_Code']
national_county['County_Full'] = national_county['County'].str[:-7] + ', ' + national_county['State']
national_county.head()

,State,State_Code,County_Code,County,H1,County_Code_Full,County_Full
0,AL,01,001,Autauga County,H1,01001,"Autauga, AL"
1,AL,01,003,Baldwin County,H1,01003,"Baldwin, AL"
2,AL,01,005,Barbour County,H1,01005,"Barbour, AL"
3,AL,01,007,Bibb County,H1,01007,"Bibb, AL"
4,AL,01,009,Blount County,H1,01009,"Blount, AL"

In [314]:
import pandas as pd
pd.set_option('display.max_columns', 100)
%matplotlib inline
# map county names to religious adherents 
religion = pd.read_csv('2010.csv', skiprows = 2, header = 1)
religion.head()

,County or Equivalent,Population,PopRank,Adherents,AdhRank,Congregations,ConRank,Adherents %,Adh% Rank,Congregations Per 10K People,Con Per 10K Rank
0,"Autauga, AL",54571,917,36938,691,106,831,67.7,546,19,1799
1,"Baldwin, AL",182265,338,96918,303,271,248,53.2,1329,15,2268
2,"Barbour, AL",27457,1516,15101,1392,89,1024,55.0,1206,32,701
3,"Bibb, AL",22915,1693,11430,1671,81,1152,49.9,1564,35,539
4,"Blount, AL",57322,884,37352,685,156,510,65.2,662,27,1072

In [315]:
zip_to_adherents = pd.merge(religion, national_county, how='left', left_on='County or Equivalent', right_on='County_Full')
zip_to_adherents = pd.merge(zip_to_adherents, zip_counties, how='right', left_on='County_Code_Full', right_on='COUNTY')
zip_to_adherents.head()

,County or Equivalent,Population,PopRank,Adherents,AdhRank,Congregations,ConRank,Adherents %,Adh% Rank,Congregations Per 10K People,Con Per 10K Rank,State,State_Code,County_Code,County,H1,County_Code_Full,County_Full,ZIP,COUNTY,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO
0,"Autauga, AL",54571,917,36938,691,106,831,67.7,546,19,1799,AL,01,001,Autauga County,H1,01001,"Autauga, AL",36003,01001,1.000000,1.000000,1.000000,1.000000
1,"Autauga, AL",54571,917,36938,691,106,831,67.7,546,19,1799,AL,01,001,Autauga County,H1,01001,"Autauga, AL",36006,01001,0.685801,0.571429,0.545455,0.681223
2,"Autauga, AL",54571,917,36938,691,106,831,67.7,546,19,1799,AL,01,001,Autauga County,H1,01001,"Autauga, AL",36008,01001,1.000000,1.000000,0.000000,1.000000
3,"Autauga, AL",54571,917,36938,691,106,831,67.7,546,19,1799,AL,01,001,Autauga County,H1,01001,"Autauga, AL",36022,01001,0.352329,0.262136,0.363636,0.350819
4,"Autauga, AL",54571,917,36938,691,106,831,67.7,546,19,1799,AL,01,001,Autauga County,H1,01001,"Autauga, AL",36051,01001,0.665087,0.771429,0.857143,0.668960

In [316]:
#zip_to_adherents['ZIP' == 89401].head()
zip_to_adherents[(zip_to_adherents.ZIP.isin(["89402"]))]

,County or Equivalent,Population,PopRank,Adherents,AdhRank,Congregations,ConRank,Adherents %,Adh% Rank,Congregations Per 10K People,Con Per 10K Rank,State,State_Code,County_Code,County,H1,County_Code_Full,County_Full,ZIP,COUNTY,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO
27241,"Washoe, NV",421407,160,124506,239,214,330,29.5,2828,5,3130,NV,32,031,Washoe County,H1,32031,"Washoe, NV",89402,32031,1,1,1,1

In [317]:
import pandas as pd
pd.set_option('display.max_columns', 100)
%matplotlib inline
# 2012-2013 loan data - files are available from deeper history
# had to unzip file
past_loans = pd.read_csv('LoanStats3b_securev1.csv', header = 1, index_col=0, skiprows=0, skip_footer=2, engine='python')
past_loans['term'] = past_loans['term'].astype('category')
past_loans['grade'] = past_loans['grade'].astype('category')
past_loans['sub_grade'] = past_loans['sub_grade'].astype('category')
past_loans['home_ownership'] = past_loans['home_ownership'].astype('category')
past_loans['verification_status'] = past_loans['verification_status'].astype('category')

# Making assumption that any currently late loans are bad; may need to revisit
# Assumptions from Lending Club https://www.lendingclub.com/account/investorReturnsAdjustments.action
# Current 0% loss
# In Grace Period 28% loss
# Late 16-30 days 58% loss
# Late 31-120 days 74% loss
# Default 89% loss
di = {'Current': 'Good', 'Fully Paid': 'Good', 'Charged Off': 'Bad', 'Late (31-120 days)': 'Bad',
       'In Grace Period': 'Bad', 'Late (16-30 days)': 'Bad', 'Default': 'Bad'}
# past_loans.replace({'loan_status': di}, inplace=True)
past_loans['loan_status'] = past_loans['loan_status'].astype('category')
past_loans['pymnt_plan'] = past_loans['pymnt_plan'].astype('category')
past_loans['purpose'] = past_loans['purpose'].astype('category')
past_loans['application_type'] = past_loans['application_type'].astype('category')

# convert dates
past_loans['issue_d'] = pd.to_datetime(past_loans['issue_d'])
past_loans['earliest_cr_line'] = pd.to_datetime(past_loans['earliest_cr_line'])
past_loans['last_pymnt_d'] = pd.to_datetime(past_loans['last_pymnt_d'])
past_loans['next_pymnt_d'] = pd.to_datetime(past_loans['next_pymnt_d'])
past_loans['last_credit_pull_d'] = pd.to_datetime(past_loans['last_credit_pull_d'])
past_loans['issue_d'] = pd.to_datetime(past_loans['issue_d'])

# convert floats
past_loans['int_rate'] = pd.to_numeric(past_loans['int_rate'].str.extract('(.*)%'))/100

# convert subgrades
past_loans["ranked_sub_grade"] = past_loans["sub_grade"].map({'A1':1, 'A2':2, 'A3':3, 'A4':4, 'A5':5, 'B1':6, 'B2':7, 'B3':8, 'B4':9, 'B5':10, 'C1':11,
       'C2':12, 'C3':13, 'C4':14, 'C5':15, 'D1':16, 'D2':17, 'D3':18, 'D4':19, 'D5':20, 'E1':21, 'E2':22,
       'E3':23, 'E4':24, 'E5':25, 'F1':26, 'F2':27, 'F3':28, 'F4':29, 'F5':30, 'G1':31, 'G2':32, 'G3':33,
       'G4':34, 'G5':35})

past_loans["employment"] = past_loans["emp_length"].map({'10+ years':13, '6 years': 6, '7 years': 7, '< 1 year': 0.5, 
        '8 years': 8, '2 years': 2, '5 years': 5, '4 years': 4, '9 years': 9, 'n/a': 0, '1 year': 1, '3 years': 3})

# assume each zip code ends in "01"
past_loans['zip_code'] = past_loans['zip_code'].str[:3] + "01"

# assume fico is at midpoint of fico range
past_loans['fico'] = (past_loans['fico_range_low'] + past_loans['fico_range_high']) / 2

# drop data that's not 2012 origination and 36 months term
past_loans = past_loans.drop(past_loans[(past_loans.issue_d >= '2012-07-01') | (past_loans.term == ' 60 months')].index)

# drop pointless data
past_loans=past_loans.dropna(axis=1,how='all')
past_loans=past_loans.drop('application_type',axis = 1) # only contains "individual"
past_loans=past_loans.drop('term',axis = 1) # only contains "36" because I fitered down
past_loans=past_loans.drop('pymnt_plan', axis = 1) # only contains "n"
past_loans=past_loans.drop('url',axis = 1) # repeats info

# drop columns that are are blank in this data set
#past_loans=past_loans.drop(['next_pymnt_d', 'mths_since_last_major_derog', 'tot_coll_amt', 
#    'tot_cur_bal', 'total_rev_hi_lim', 'avg_cur_bal', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 
#    'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mths_since_recent_bc_dlq', 'num_accts_ever_120_pd', 
#    'num_actv_bc_tl' ,'num_actv_rev_tl', 'num_bc_tl', 'num_il_tl' ,'num_op_rev_tl' ,'num_rev_accts', 
#    'num_rev_tl_bal_gt_0', 'num_tl_120dpd_2m', 'num_tl_30dpd' ,'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
#    'pct_tl_nvr_dlq', 'tot_hi_cred_lim', 'total_il_high_credit_limit'],axis = 1) 

past_loans=past_loans.drop(['out_prncp', 'out_prncp_inv', 'collections_12_mths_ex_med', 
    'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens'],axis = 1) 

# drop data that could leak future info
past_loans=past_loans.drop(['last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low'],axis = 1)

past_loans.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,policy_code,acc_open_past_24mths,bc_open_to_buy,bc_util,mort_acc,mths_since_recent_bc,mths_since_recent_inq,mths_since_recent_revol_delinq,num_bc_sats,num_sats,percent_bc_gt_75,pub_rec_bankruptcies,total_bal_ex_mort,total_bc_limit,ranked_sub_grade,employment,fico
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1377559,1622372,2500,2500,2500,0.1465,86.24,C,C2,value concepts inc,10+ years,MORTGAGE,53000,Source Verified,2012-06-01,Fully Paid,Borrower added on 06/20/12 > home repairs th...,home_improvement,loan for life,30601,GA,17.00,0,1987-03-01,660,664,0,30,NaN,8,0,3222,54.6%,15,f,3104.435553,3104.44,2500,604.44,0,0,0,2015-07-01,89.38,1,2,1080,74.3,3,103,11,30,3,8,33.3,0,12315,4200,12,13.0,662
1377635,1621835,3000,3000,2750,0.0790,93.88,A,A4,Washoe County School District,10+ years,MORTGAGE,45600,Not Verified,2012-06-01,Fully Paid,NaN,car,My Car,89401,NV,8.21,0,1998-05-01,730,734,0,NaN,NaN,4,0,1046,26.1%,21,f,3379.306095,3097.70,3000,379.31,0,0,0,2015-07-01,96.03,1,0,NaN,NaN,8,NaN,NaN,NaN,0,4,NaN,0,1046,0,4,13.0,732
1377314,1621503,5600,5600,5600,0.1922,205.90,D,D5,OpenText,6 years,RENT,76320,Source Verified,2012-06-01,Fully Paid,Borrower added on 06/20/12 > Consolidation<b...,debt_consolidation,Consloan,32301,FL,17.30,0,2008-09-01,660,664,0,NaN,NaN,9,0,3445,91.5%,13,f,7093.693707,7093.69,5600,1493.69,0,0,0,2014-05-01,2783.95,1,5,210,90.0,0,12,12,NaN,3,9,100.0,0,29364,2100,20,6.0,662
1327173,1572525,2800,2800,2800,0.0762,87.26,A,A3,The Dawson Academy,7 years,MORTGAGE,65000,Not Verified,2012-06-01,Fully Paid,Borrower added on 06/20/12 > This loan is go...,major_purchase,Spa Loan,14001,NY,5.32,0,1992-02-01,815,819,0,NaN,NaN,4,0,818,4.1%,6,f,3141.029828,3141.03,2800,341.03,0,0,0,2015-07-01,89.64,1,1,17782,4.4,0,139,9,NaN,2,4,0.0,0,12529,18600,3,7.0,817
1363816,1607830,1925,1925,1925,0.1074,62.79,B,B2,PPT,< 1 year,OWN,20700,Not Verified,2012-06-01,Fully Paid,Borrower added on 06/20/12 > Help pay for ki...,home_improvement,Materials for home addition.,85701,AZ,4.23,0,2002-09-01,700,704,2,NaN,NaN,7,0,2387,21.3%,10,f,1975.565136,1975.57,1925,50.57,0,0,0,2012-10-01,1850.67,1,6,4702,22.9,0,11,0,NaN,2,7,50.0,0,12834,6100,7,0.5,702

# Explore different categorical data
What values are inside the categorical fields?

In [318]:
pd.unique(past_loans['grade'])

array(['C', 'A', 'D', 'B', 'E', 'G', 'F'], dtype=object)

In [319]:
subgrades = pd.unique(past_loans['sub_grade'])
subgrades.sort()
subgrades

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1',
       'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2',
       'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1', 'G2', 'G3',
       'G4', 'G5'], dtype=object)

In [320]:
pd.unique(past_loans['home_ownership'])

array(['MORTGAGE', 'RENT', 'OWN'], dtype=object)

In [321]:
pd.unique(past_loans['emp_length'])

array(['10+ years', '6 years', '7 years', '< 1 year', '8 years', '2 years',
       '5 years', '4 years', '9 years', 'n/a', '1 year', '3 years'], dtype=object)

In [322]:
pd.unique(past_loans['verification_status'])

array(['Source Verified', 'Not Verified', 'Verified'], dtype=object)

In [323]:
pd.unique(past_loans['loan_status'])

array(['Fully Paid', 'Charged Off'], dtype=object)

In [324]:
pd.unique(past_loans['revol_util'])

array(['54.6%', '26.1%', '91.5%', '4.1%', '21.3%', '56.4%', '87.2%',
       '95.1%', '69.4%', '40%', '29.7%', '95.2%', '87.7%', '59.7%',
       '81.7%', '54.7%', '84.5%', '54.8%', '47.6%', '11.8%', '21.1%',
       '97.1%', '45.1%', '73.1%', '9.7%', '94.5%', '60.6%', '56.6%', '0%',
       '96.7%', '60.8%', '22.4%', '68.6%', '28.4%', '83.8%', '70.2%',
       '89.9%', '73%', '90.7%', '14.3%', '94.2%', '76.4%', '39%', '16.2%',
       '86.4%', '53.7%', '0.9%', '39.3%', '49.8%', '36.7%', '66.8%', '66%',
       '5.8%', '50.8%', '70.3%', '55%', '83%', '63.7%', '32.9%', '24.1%',
       '17.6%', '76.2%', '31.7%', '14.6%', '43.7%', '14%', '43.9%',
       '93.1%', '44.7%', '75.4%', '80.1%', '23.4%', '64%', '71.2%',
       '73.4%', '74.5%', '37.6%', '75.5%', '97.8%', '92.4%', '14.8%',
       '83.3%', '97.3%', '33.6%', '87.8%', '77.4%', '86.1%', '91.7%',
       '48.3%', '61.1%', '40.5%', '97.6%', '91.4%', '59.9%', '46.8%',
       '76.7%', '89.1%', '70.8%', '83.1%', '55.8%', '62.6%', '61.2%',
       '42.2%', '66.9%', '79.4%', '75.8%', '52.8%', '47.5%', '76.9%',
       '46.4%', '24.9%', '56.7%', '64.1%', '48.8%', '41.4%', '77.3%',
       '78.7%', '33%', '33.8%', '16.8%', '26.6%', '50.7%', '58%', '78%',
       '67.8%', '96.5%', '81.1%', '69%', '59%', '47.4%', '84.6%', '73.5%',
       '82.9%', '79.5%', '49%', '56.8%', '32.3%', '6.9%', '15%', '80.3%',
       '54.4%', '72.8%', '79.3%', '15.1%', '48%', '4.9%', '77.2%', '73.7%',
       '84.4%', '8.5%', '58.5%', '81%', '27.8%', '68.2%', '50.6%', '82.7%',
       '41.3%', '76%', '87.4%', '63%', '93.6%', '57.4%', '66.6%', '52.9%',
       '63.2%', '69.2%', '78.4%', '80.2%', '62.8%', '54.2%', '35%',
       '95.5%', '62.7%', '46.6%', '85.5%', '81.4%', '41.5%', '75.2%',
       '40.2%', '28.5%', '61.7%', '30.6%', '43.2%', '86%', '83.5%',
       '38.3%', '30.4%', '77%', '85%', '67.1%', '88.8%', '39.2%', '52.4%',
       '54.1%', '40.7%', '60.7%', '37.9%', '27.9%', '28.8%', '9%', '65.7%',
       '12.7%', '70.4%', '3%', '65.4%', '80%', '52%', '60.5%', '74.8%',
       '45.4%', '76.8%', '31.5%', '57.6%', '77.5%', '67.3%', '71.3%',
       '81.3%', '74.6%', '45.2%', '19.6%', '39.7%', '80.9%', '64.5%',
       '80.4%', '93.8%', '71%', '55.5%', '37.2%', '39.9%', '18.2%',
       '72.6%', '61.3%', '24.4%', '53%', '43.8%', '94.4%', '31.6%',
       '94.1%', '87.6%', '57%', '6.8%', '82.6%', '88.2%', '21.2%', '86.7%',
       '72.2%', '64.4%', '92.6%', '42.8%', '86.3%', '43.5%', '77.8%',
       '59.2%', '5.6%', '82.4%', '67.9%', '29.9%', '79.2%', '46.3%',
       '89.5%', '82.3%', '49.9%', '49.6%', '92.8%', '61.4%', '61.8%',
       '68.5%', '94.9%', '92.5%', '5.4%', '68.8%', '30.5%', '93.2%',
       '64.3%', '48.5%', '77.9%', '78.5%', '58.9%', '26.5%', '75.7%',
       '64.6%', '69.5%', '56.5%', '75.3%', '74%', '29.1%', '63.6%',
       '63.9%', '73.3%', '76.5%', '33.1%', '82.2%', '18.1%', '66.2%',
       '47.9%', '37.3%', '92.2%', '30.8%', '78.9%', '57.5%', '45.3%',
       '92%', '45.9%', '92.7%', '60.9%', '91.6%', '45.5%', '53.6%', '4.5%',
       '85.7%', '56.1%', '51%', '69.7%', '29.4%', '50.9%', '43%', '45.6%',
       '67.4%', '34.8%', '69.9%', '71.8%', '58.1%', '2.7%', '87%', '43.3%',
       '51.3%', '55.9%', '85.9%', '73.2%', '60.2%', '65%', '37%', '43.6%',
       '65.6%', '53.5%', '38.8%', '0.2%', '59.8%', '46.7%', '91.1%',
       '51.5%', '15.2%', '46.2%', '49.5%', '8.6%', '16.5%', '41%', '1%',
       '44.5%', '32.1%', '93%', '17.4%', '28.6%', '36.1%', nan, '58.6%',
       '8.3%', '95.7%', '53.2%', '88.9%', '81.2%', '96%', '55.4%', '63.8%',
       '95.4%', '46.5%', '35.2%', '72.3%', '83.9%', '67.2%', '57.7%',
       '68.4%', '50%', '55.7%', '7.9%', '51.7%', '31.2%', '30%', '96.2%',
       '64.9%', '67.6%', '55.3%', '10.2%', '54.3%', '12.4%', '41.1%',
       '43.4%', '65.2%', '92.3%', '16.3%', '75.6%', '51.2%', '8.7%',
       '95.8%', '89.3%', '90.1%', '62%', '74.2%', '58.7%', '52.2%', '82%',
       '27.5%', '76.3%', '27%', '80.7%', '12.9%', '79.6%', '34.3%',
       '36.9%', '78.3%', '88%', '42.1%', '35.5%', '88.1%', '2%', '25.2%',
       '84%', '6.2%', '69.3%', '44%', '47.1%', '71.6%', '71.5%', '36%',
       '44.2%', '45.7%', '97.2%', '53.8%', '33.4%', '73.6%', '54%', '16%',
       '84.2%', '8.1%', '97.4%', '4.4%', '16.6%', '0.7%', '72.1%', '45.8%',
       '40.6%', '84.9%', '68.7%', '20.5%', '62.4%', '47.8%', '27.2%',
       '59.6%', '79.9%', '39.4%', '60.3%', '87.3%', '70.1%', '24.3%',
       '26%', '84.8%', '55.2%', '74.3%', '37.8%', '53.1%', '80.6%',
       '60.1%', '67.7%', '92.1%', '0.5%', '62.9%', '85.1%', '88.5%',
       '42.3%', '90.9%', '72.5%', '12.5%', '53.3%', '10%', '62.3%', '47%',
       '4.8%', '83.7%', '10.7%', '8.2%', '83.6%', '52.3%', '74.1%',
       '33.3%', '83.2%', '79.7%', '91.8%', '81.8%', '90.5%', '42.7%',
       '51.4%', '65.9%', '38.6%', '90.3%', '66.5%', '10.8%', '81.9%',
       '56.9%', '13.7%', '70%', '91.9%', '90.8%', '19.7%', '42.4%', '22%',
       '86.9%', '23.9%', '78.1%', '57.2%', '48.2%', '74.7%', '30.1%',
       '48.9%', '96.4%', '95.3%', '9.5%', '59.3%', '41.8%', '27.6%',
       '31.4%', '88.7%', '71.4%', '59.5%', '66.1%', '38.5%', '78.6%',
       '65.8%', '86.2%', '74.9%', '67.5%', '69.8%', '34.7%', '35.1%',
       '82.8%', '25.1%', '56%', '52.5%', '20.8%', '19.5%', '27.4%',
       '52.6%', '64.7%', '39.5%', '84.1%', '38.1%', '29.5%', '84.3%',
       '18.4%', '22.8%', '69.6%', '34.4%', '59.1%', '75.9%', '36.5%',
       '76.6%', '44.4%', '51.1%', '77.7%', '89.8%', '78.8%', '36.4%',
       '61.6%', '4.2%', '93.7%', '38.9%', '54.9%', '65.1%', '34.2%',
       '41.9%', '49.2%', '15.3%', '87.1%', '40.1%', '91.3%', '37.7%',
       '40.8%', '75%', '81.5%', '60.4%', '23.7%', '82.1%', '85.2%', '18%',
       '9.6%', '89.4%', '23.6%', '40.4%', '73.8%', '3.6%', '14.9%', '79%',
       '44.6%', '28.1%', '34.6%', '23.1%', '72.7%', '14.2%', '10.5%',
       '23.2%', '44.8%', '38.2%', '23.3%', '81.6%', '89.2%', '70.7%',
       '17.8%', '68.1%', '88.6%', '36.3%', '80.8%', '75.1%', '44.3%',
       '38%', '3.2%', '57.9%', '15.4%', '6%', '0.4%', '22.3%', '63.3%',
       '85.3%', '69.1%', '31.8%', '5.3%', '62.2%', '24.7%', '57.8%',
       '76.1%', '72.4%', '1.7%', '67%', '82.5%', '6.5%', '33.9%', '10.3%',
       '26.2%', '56.2%', '26.3%', '44.1%', '93.5%', '77.1%', '92.9%',
       '64.2%', '40.3%', '20.4%', '35.4%', '66.7%', '7.5%', '80.5%',
       '22.9%', '68.9%', '97.7%', '39.6%', '16.9%', '21.5%', '49.3%',
       '32.7%', '58.8%', '44.9%', '65.5%', '70.9%', '61.5%', '51.8%',
       '8.8%', '48.6%', '10.4%', '9.3%', '54.5%', '5.1%', '60%', '96.3%',
       '95%', '85.8%', '94.7%', '46.9%', '70.6%', '15.6%', '56.3%',
       '31.1%', '18.9%', '34.5%', '23.5%', '43.1%', '62.5%', '86.8%',
       '94.6%', '63.1%', '55.1%', '87.9%', '34.9%', '25.5%', '37.4%',
       '7.2%', '50.5%', '24%', '94.3%', '85.4%', '29.3%', '19.9%', '32.4%',
       '85.6%', '87.5%', '9.8%', '27.1%', '40.9%', '47.7%', '65.3%', '23%',
       '95.6%', '20.7%', '12.6%', '7.6%', '89.7%', '1.8%', '71.1%', '2.5%',
       '19.1%', '49.1%', '51.6%', '90.4%', '68.3%', '57.1%', '22.1%',
       '11.5%', '33.7%', '88.3%', '90%', '35.9%', '66.4%', '23.8%',
       '50.1%', '18.3%', '3.7%', '41.6%', '89.6%', '5%', '79.8%', '52.7%',
       '55.6%', '1.1%', '35.6%', '18.6%', '97%', '73.9%', '94.8%', '78.2%',
       '11.4%', '62.1%', '71.7%', '89%', '17.9%', '71.9%', '28.3%',
       '74.4%', '7.4%', '16.4%', '12.8%', '17.7%', '25.9%', '35.7%', '61%',
       '13%', '14.7%', '49.4%', '86.6%', '28.9%', '24.8%', '36.8%',
       '61.9%', '90.6%', '13.8%', '15.7%', '42.6%', '8.9%', '47.2%',
       '48.1%', '19.3%', '22.5%', '24.6%', '31.3%', '13.4%', '48.4%',
       '37.5%', '9.9%', '49.7%', '7.8%', '0.1%', '96.6%', '46.1%', '91.2%',
       '32.6%', '42.5%', '7.1%', '28.2%', '42.9%', '32.2%', '14.5%', '34%',
       '1.3%', '5.2%', '21.9%', '72.9%', '4.3%', '0.3%', '38.4%', '17.3%',
       '14.1%', '8%', '13.2%', '26.9%', '52.1%', '25.8%', '15.8%', '11%',
       '11.2%', '58.4%', '72%', '11.1%', '63.5%', '12%', '2.2%', '3.5%',
       '18.5%', '17.5%', '11.6%', '30.9%', '26.8%', '7.3%', '29%', '93.3%',
       '24.5%', '21.4%', '84.7%', '24.2%', '30.7%', '38.7%', '16.1%',
       '97.5%', '2.3%', '66.3%', '79.1%', '63.4%', '13.5%', '35.8%',
       '50.3%', '32.8%', '77.6%', '31.9%', '17%', '7%', '96.1%', '25.4%',
       '88.4%', '36.2%', '25.3%', '50.4%', '10.6%', '2.4%', '47.3%',
       '2.9%', '27.7%', '1.2%', '57.3%', '11.7%', '29.6%', '53.4%',
       '35.3%', '50.2%', '19.4%', '34.1%', '20.6%', '1.9%', '6.3%', '0.6%',
       '70.5%', '6.7%', '4.6%', '53.9%', '37.1%', '10.1%', '20.1%',
       '64.8%', '91%', '58.2%', '32%', '25.7%', '33.5%', '45%', '4%',
       '27.3%', '3.4%', '17.2%', '30.2%', '11.3%', '31%', '18.8%', '25%',
       '19.8%', '48.7%', '13.6%', '93.9%', '7.7%', '22.7%', '14.4%', '21%',
       '12.1%', '26.4%', '46%', '83.4%', '20.2%', '42%', '29.8%', '20.9%',
       '58.3%', '2.1%', '13.1%', '68%', '16.7%', '5.9%', '26.7%', '97.9%',
       '28%', '15.9%', '20.3%', '19%', '29.2%', '1.5%', '33.2%', '10.9%',
       '3.3%', '95.9%', '15.5%', '17.1%', '6.1%', '41.7%', '90.2%',
       '19.2%', '21.7%', '9.4%', '5.7%', '30.3%', '12.2%', '2.8%', '96.8%',
       '39.8%', '21.8%', '36.6%', '28.7%', '0.8%', '4.7%', '94%', '9.2%',
       '21.6%', '51.9%', '2.6%', '8.4%', '59.4%', '1.4%', '1.6%', '3.9%',
       '5.5%', '39.1%', '3.1%', '22.2%', '86.5%', '93.4%', '22.6%', '6.4%',
       '20%', '13.3%', '32.5%', '41.2%', '12.3%', '13.9%', '11.9%', '6.6%',
       '18.7%', '3.8%', '96.9%', '9.1%', '99.7%', '98.9%', '98.8%',
       '99.1%', '99.4%', '99.3%', '25.6%', '99.2%', '98.3%', '99.9%',
       '98.6%', '98.2%', '98.5%', '98.1%', '98.4%', '98.7%', '99%'], dtype=object)

In [325]:
pd.unique(past_loans['purpose'])

array(['home_improvement', 'car', 'debt_consolidation', 'major_purchase',
       'moving', 'credit_card', 'vacation', 'small_business', 'other',
       'wedding', 'medical', 'house', 'renewable_energy'], dtype=object)

# Examine field types and amount of data
Is there any missing data?

In [326]:
past_loans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14967 entries, 1377559 to 1058722
Data columns (total 60 columns):
member_id                         14967 non-null int64
loan_amnt                         14967 non-null int64
funded_amnt                       14967 non-null int64
funded_amnt_inv                   14967 non-null float64
int_rate                          14967 non-null float64
installment                       14967 non-null float64
grade                             14967 non-null category
sub_grade                         14967 non-null category
emp_title                         13938 non-null object
emp_length                        14967 non-null object
home_ownership                    14967 non-null category
annual_inc                        14967 non-null float64
verification_status               14967 non-null category
issue_d                           14967 non-null datetime64[ns]
loan_status                       14967 non-null category
desc                              8511 non-null object
purpose                           14967 non-null category
title                             14967 non-null object
zip_code                          14967 non-null object
addr_state                        14967 non-null object
dti                               14967 non-null float64
delinq_2yrs                       14967 non-null int64
earliest_cr_line                  14967 non-null datetime64[ns]
fico_range_low                    14967 non-null int64
fico_range_high                   14967 non-null int64
inq_last_6mths                    14967 non-null int64
mths_since_last_delinq            4777 non-null float64
mths_since_last_record            434 non-null float64
open_acc                          14967 non-null int64
pub_rec                           14967 non-null int64
revol_bal                         14967 non-null int64
revol_util                        14947 non-null object
total_acc                         14967 non-null int64
initial_list_status               14967 non-null object
total_pymnt                       14967 non-null float64
total_pymnt_inv                   14967 non-null float64
total_rec_prncp                   14967 non-null float64
total_rec_int                     14967 non-null float64
total_rec_late_fee                14967 non-null float64
recoveries                        14967 non-null float64
collection_recovery_fee           14967 non-null float64
last_pymnt_d                      14949 non-null datetime64[ns]
last_pymnt_amnt                   14967 non-null float64
policy_code                       14967 non-null int64
acc_open_past_24mths              8942 non-null float64
bc_open_to_buy                    8827 non-null float64
bc_util                           8821 non-null float64
mort_acc                          8942 non-null float64
mths_since_recent_bc              8840 non-null float64
mths_since_recent_inq             7580 non-null float64
mths_since_recent_revol_delinq    2138 non-null float64
num_bc_sats                       2008 non-null float64
num_sats                          2008 non-null float64
percent_bc_gt_75                  8827 non-null float64
pub_rec_bankruptcies              14967 non-null int64
total_bal_ex_mort                 8942 non-null float64
total_bc_limit                    8942 non-null float64
ranked_sub_grade                  14967 non-null int64
employment                        14967 non-null float64
fico                              14967 non-null float64
dtypes: category(6), datetime64[ns](3), float64(29), int64(14), object(8)
memory usage: 6.4+ MB

# Check out summary stats on the numeric fields

In [327]:
past_loans.describe().transpose() #.to_string()

,count,mean,std,min,25%,50%,75%,max
member_id,14967,1455102.984499,95085.641457,382664.00,1383155.500000,1456996.0000,1531193.000000,1622372.000000
loan_amnt,14967,11601.224360,7188.093122,1000.00,6325.000000,10000.0000,15000.000000,35000.000000
funded_amnt,14967,11601.224360,7188.093122,1000.00,6325.000000,10000.0000,15000.000000,35000.000000
funded_amnt_inv,14967,11577.779687,7173.743526,950.00,6300.000000,10000.0000,15000.000000,35000.000000
int_rate,14967,0.118843,0.037323,0.06,0.089000,0.1212,0.142700,0.248900
installment,14967,387.315191,246.678443,30.44,208.750000,337.3800,496.800000,1379.230000
annual_inc,14967,66678.824698,43712.992175,5000.00,40000.000000,57000.0000,80000.000000,1233000.000000
dti,14967,14.849731,6.776538,0.00,9.750000,14.9000,20.020000,34.920000
delinq_2yrs,14967,0.131422,0.505779,0.00,0.000000,0.0000,0.000000,10.000000
fico_range_low,14967,707.021447,33.409946,660.00,680.000000,700.0000,725.000000,845.000000
fico_range_high,14967,711.021514,33.410223,664.00,684.000000,704.0000,729.000000,850.000000
inq_last_6mths,14967,0.766553,0.983709,0.00,0.000000,0.0000,1.000000,8.000000
mths_since_last_delinq,4777,38.594515,21.238001,1.00,21.000000,37.0000,54.000000,108.000000
mths_since_last_record,434,93.322581,22.385497,1.00,89.000000,99.0000,108.000000,119.000000
open_acc,14967,9.908933,4.279092,2.00,7.000000,9.0000,12.000000,49.000000
pub_rec,14967,0.029665,0.174712,0.00,0.000000,0.0000,0.000000,4.000000
revol_bal,14967,13509.266854,12519.771355,0.00,5949.500000,10687.0000,17484.000000,149509.000000
total_acc,14967,21.852743,10.621712,3.00,14.000000,20.0000,28.000000,68.000000
total_pymnt,14967,12629.793503,8628.024146,0.00,6524.541549,11029.1800,16435.163946,49567.279975
total_pymnt_inv,14967,12610.997262,8616.879588,0.00,6509.480000,11006.6800,16422.540000,49567.280000
total_rec_prncp,14967,10658.862063,7287.732960,0.00,5400.000000,9600.0000,14000.000000,35000.000000
total_rec_int,14967,1895.195312,1696.418596,0.00,770.820000,1428.5000,2440.980000,14552.280000
total_rec_late_fee,14967,0.792168,5.456035,0.00,0.000000,0.0000,0.000000,134.010000
recoveries,14967,74.943951,409.042144,0.00,0.000000,0.0000,0.000000,15581.060000
collection_recovery_fee,14967,4.721607,54.859303,0.00,0.000000,0.0000,0.000000,3703.430000
last_pymnt_amnt,14967,2693.840138,4196.354440,0.00,304.865000,663.8600,3516.195000,35285.310000
policy_code,14967,1.000000,0.000000,1.00,1.000000,1.0000,1.000000,1.000000
acc_open_past_24mths,8942,3.783046,2.674930,0.00,2.000000,3.0000,5.000000,25.000000
bc_open_to_buy,8827,8676.654922,14544.503876,0.00,1034.500000,3380.0000,9767.000000,222351.000000
bc_util,8821,63.778925,28.648749,0.00,44.200000,70.8000,88.000000,187.900000
mort_acc,8942,1.304742,2.035491,0.00,0.000000,0.0000,2.000000,22.000000
mths_since_recent_bc,8840,23.718100,27.306367,0.00,6.000000,13.0000,34.000000,413.000000
mths_since_recent_inq,7580,7.079947,6.255791,0.00,2.000000,5.0000,11.000000,24.000000
mths_since_recent_revol_delinq,2138,40.313377,20.749842,1.00,24.000000,40.0000,56.000000,98.000000
num_bc_sats,2008,4.646414,2.470650,0.00,3.000000,4.0000,6.000000,20.000000
num_sats,2008,10.938745,4.703647,2.00,8.000000,10.0000,14.000000,37.000000
percent_bc_gt_75,8827,50.316382,35.458767,0.00,20.000000,50.0000,80.000000,100.000000
pub_rec_bankruptcies,14967,0.023786,0.153260,0.00,0.000000,0.0000,0.000000,2.000000
total_bal_ex_mort,8942,34795.245023,33476.214916,0.00,14388.500000,26173.5000,43766.500000,819312.000000
total_bc_limit,8942,18805.242228,18696.834220,0.00,7200.000000,13400.0000,24100.000000,301720.000000
ranked_sub_grade,14967,8.702612,5.169448,1.00,5.000000,8.0000,12.000000,35.000000
employment,14967,6.006715,4.626361,0.00,2.000000,5.0000,9.000000,13.000000
fico,14967,709.021481,33.410085,662.00,682.000000,702.0000,727.000000,847.500000

# Merge loan data with religiosity

In [346]:
full_data = pd.merge(
    past_loans, 
    zip_to_adherents[['ZIP', 'Adherents %', 'County_Code_Full']], how='left', left_on='zip_code', right_on='ZIP')
# full_data=full_data.drop(['ZIP', 'zip_code', 'addr_state'],axis = 1) # not used any longer
# full_data=full_data.drop('zip_code',axis = 1) # not used any longer
full_data.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,policy_code,acc_open_past_24mths,bc_open_to_buy,bc_util,mort_acc,mths_since_recent_bc,mths_since_recent_inq,mths_since_recent_revol_delinq,num_bc_sats,num_sats,percent_bc_gt_75,pub_rec_bankruptcies,total_bal_ex_mort,total_bc_limit,ranked_sub_grade,employment,fico,ZIP,Adherents %,County_Code_Full
0,1622372,2500,2500,2500,0.1465,86.24,C,C2,value concepts inc,10+ years,MORTGAGE,53000,Source Verified,2012-06-01,Fully Paid,Borrower added on 06/20/12 > home repairs th...,home_improvement,loan for life,30601,GA,17.00,0,1987-03-01,660,664,0,30,NaN,8,0,3222,54.6%,15,f,3104.435553,3104.44,2500,604.44,0,0,0,2015-07-01,89.38,1,2,1080,74.3,3,103,11,30,3,8,33.3,0,12315,4200,12,13,662,30601,37.5,13059
1,1622372,2500,2500,2500,0.1465,86.24,C,C2,value concepts inc,10+ years,MORTGAGE,53000,Source Verified,2012-06-01,Fully Paid,Borrower added on 06/20/12 > home repairs th...,home_improvement,loan for life,30601,GA,17.00,0,1987-03-01,660,664,0,30,NaN,8,0,3222,54.6%,15,f,3104.435553,3104.44,2500,604.44,0,0,0,2015-07-01,89.38,1,2,1080,74.3,3,103,11,30,3,8,33.3,0,12315,4200,12,13,662,30601,37.5,13157
2,1622372,2500,2500,2500,0.1465,86.24,C,C2,value concepts inc,10+ years,MORTGAGE,53000,Source Verified,2012-06-01,Fully Paid,Borrower added on 06/20/12 > home repairs th...,home_improvement,loan for life,30601,GA,17.00,0,1987-03-01,660,664,0,30,NaN,8,0,3222,54.6%,15,f,3104.435553,3104.44,2500,604.44,0,0,0,2015-07-01,89.38,1,2,1080,74.3,3,103,11,30,3,8,33.3,0,12315,4200,12,13,662,30601,43.9,13195
3,1621835,3000,3000,2750,0.0790,93.88,A,A4,Washoe County School District,10+ years,MORTGAGE,45600,Not Verified,2012-06-01,Fully Paid,NaN,car,My Car,89401,NV,8.21,0,1998-05-01,730,734,0,NaN,NaN,4,0,1046,26.1%,21,f,3379.306095,3097.70,3000,379.31,0,0,0,2015-07-01,96.03,1,0,NaN,NaN,8,NaN,NaN,NaN,0,4,NaN,0,1046,0,4,13,732,NaN,NaN,NaN
4,1621503,5600,5600,5600,0.1922,205.90,D,D5,OpenText,6 years,RENT,76320,Source Verified,2012-06-01,Fully Paid,Borrower added on 06/20/12 > Consolidation<b...,debt_consolidation,Consloan,32301,FL,17.30,0,2008-09-01,660,664,0,NaN,NaN,9,0,3445,91.5%,13,f,7093.693707,7093.69,5600,1493.69,0,0,0,2014-05-01,2783.95,1,5,210,90.0,0,12,12,NaN,3,9,100.0,0,29364,2100,20,6,662,32301,47.3,12073

In [347]:
# replace category with dummies
# pd.concat([full_data, pd.get_dummies(full_data['home_ownership']).drop(['NONE'], axis = 1)], axis=1).drop(
#    ['home_ownership'], axis = 1)
full_data = pd.concat([full_data, pd.get_dummies(full_data['home_ownership'])], axis=1).drop(
    ['home_ownership'], axis = 1)
full_data = pd.concat([full_data, pd.get_dummies(full_data['verification_status']).drop(['Not Verified'], axis = 1)], axis=1).drop(
    ['verification_status'], axis = 1)
full_data = pd.concat([full_data, pd.get_dummies(full_data['purpose']).drop(['other'], axis = 1)], axis=1).drop(
    ['purpose'], axis = 1)

In [348]:
# drop columns that have been mapped
#full_data = full_data.drop('sub_grade', axis = 1)
#full_data = full_data.drop('grade', axis = 1)
#full_data = full_data.drop('emp_length', axis = 1)

In [349]:
# drop a few columns that may be useful later
full_data = full_data.drop('emp_title', axis = 1)
full_data = full_data.drop('desc', axis = 1)
full_data = full_data.drop('title', axis = 1)

## Explore date fields

In [350]:
# past_loans.groupby(past_loans['last_pymnt_d'].map(lambda x: x.year))
# pd.unique(past_loans.sort_values('last_pymnt_d')['last_pymnt_d'])

In [351]:
pd.unique(past_loans['issue_d'])

array(['2012-05-31T20:00:00.000000000-0400',
       '2012-04-30T20:00:00.000000000-0400',
       '2012-03-31T20:00:00.000000000-0400',
       '2012-02-29T19:00:00.000000000-0500',
       '2012-01-31T19:00:00.000000000-0500',
       '2011-12-31T19:00:00.000000000-0500'], dtype='datetime64[ns]')

In [352]:
full_data.to_csv('full_data.csv')

# Create dependent and independent data

In [485]:
import numpy as np
full_data = full_data[np.isfinite(full_data['Adherents %'])]
X = full_data[['dti', 'fico', 'Adherents %', 'loan_amnt', 'annual_inc', 'ranked_sub_grade', 'employment']]
#X = full_data[['Adherents %']]
y = full_data['loan_status'].map({'Fully Paid': 0, 'Charged Off': 1})

# Split into training and test data

In [486]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
# 10 cross validation iterations with 20% test / 80% train
from sklearn.cross_validation import ShuffleSplit
cv = ShuffleSplit(X_train.shape[0], n_iter=10, test_size=0.2, random_state=0)

In [501]:
y_train.mean()

0.14074701288926522

In [502]:
y_test.mean()

0.13096246119108101

# Standardize the data

In [487]:
from sklearn.preprocessing import StandardScaler
stdsc = StandardScaler()
# transform our training features
X_train_std = stdsc.fit_transform(X_train)
# transform the testing features in the same way
X_test_std = stdsc.transform(X_test)

# Build models
We need to evaluate:
- Is religiousity a useful predictor of loan repayment?
- Is religiousity useful when possibly confounding factors (like FICO score) are included?
- If so, are religious people more likely to repay loans?

We need models that are:
- Predictive of classification for "Charged Off" / "Fully Paid"
- Easily interpreted features, particularly "Adherents %" (religiousity)
- Scorable to compare Type I / Type II error at different thresholds

Therefore, we will only build **logistic regressions**. More sophisticated models, such as Naive Bayes or Random Forest may provide a more accurate prediction, but can't answer our question.

In [488]:
# Drop all features
lr_none = LogisticRegression(C= .00001, class_weight=None, penalty="l1") 
lr_none.fit(X_train_std, y_train)

# Drop the least predictive feature (turns out to be adherents)
lr_all_but_adherents = LogisticRegression(C= .05, class_weight=None, penalty="l1") 
lr_all_but_adherents.fit(X_train_std, y_train)

# include all features
lr_all = LogisticRegression(C= .5, class_weight=None, penalty="l1") 
lr_all.fit(X_train_std, y_train)

LogisticRegression(C=0.5, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr',
          penalty='l1', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0)

# Evaluate F1 scores
My first instinct was to check f1-score (a blend of precision and recall). Especially important is recall - how many of the defaults are found.

This provided unexpected results: my f1-score was 93%, regardless of model. I even got the same result when I passed an array of zeros as my prediction.

What happened? The best model predicted probability of default on individual loans between 0.14% and 41.8%. Since each of these probabilities was below 50%, every single case was predicted to pay.

**Evaluation metrics to distinguish good from naive models**
- Balanced data set: we could select test data that has more defaults. However, because each test case would still be predicted to pay, the F1-scores would remain constant at a different number.
- Manually create comparison with a different threshold (if models are forced to choose "default" at probability > 15%, which model is best?): this will provide useful information, but is a crude measure at a single threshold.
- ROC score: checks across entire range of probailities

In [503]:
from sklearn.metrics import classification_report
print classification_report(lr_none.predict(X_test_std), y_test, digits = 5)

             precision    recall  f1-score   support

          0    1.00000   0.86904   0.92993      3543
          1    0.00000   0.00000   0.00000         0

avg / total    1.00000   0.86904   0.92993      3543

In [504]:
from sklearn.metrics import classification_report
print classification_report(lr_all_but_adherents.predict(X_test_std), y_test, digits = 5)

             precision    recall  f1-score   support

          0    1.00000   0.86904   0.92993      3543
          1    0.00000   0.00000   0.00000         0

avg / total    1.00000   0.86904   0.92993      3543

In [507]:
# test if we simply predict 0 (no default) every time
junk = np.empty(3543)
junk.fill(0)
print classification_report(junk, y_test, digits = 5)

             precision    recall  f1-score   support

        0.0    1.00000   0.86904   0.92993      3543
        1.0    0.00000   0.00000   0.00000         0

avg / total    1.00000   0.86904   0.92993      3543

In [506]:
from sklearn.metrics import classification_report
print classification_report(lr_all.predict(X_test_std), y_test, digits = 5)

             precision    recall  f1-score   support

          0    1.00000   0.86904   0.92993      3543
          1    0.00000   0.00000   0.00000         0

avg / total    1.00000   0.86904   0.92993      3543

In [516]:
# what is the range of predicted probabilities?
min(lr_all.predict_proba(X_test_std)[:,1]), max(lr_all.predict_proba(X_test_std)[:,1])

(0.0014434724893756521, 0.41800148062347503)

# Evaluate ROC scores for the three models
ROC measures true positives vs false positives as you move along the spectrum of probabilities. A higher area under the curve indicates the model makes better predictions (50% is random).

ROC is especially important for default:
- Capable of evaluating models that predict events that are individually low-probability, like loan defaults
- Evaluates across the entire spectrum of predictions. Since investors are interested in both safe and risky loans (if the interest rate compensates for losses), accuracy across the spectrum is useful.

**Results**
- The naive model scores 50% (random)
- The model with all factors but Adherents performs much better: 64.39%
- The model improves slightly (64.44%) when we add the Adherents feature. **Conclusion: this feature adds some predictiveness.**

In [517]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, lr_none.predict_proba(X_test_std)[:,1])

0.5

In [518]:
roc_auc_score(y_test, lr_all_but_adherents.predict_proba(X_test_std)[:,1])

0.64392827944585673

In [519]:
roc_auc_score(y_test, lr_all.predict_proba(X_test_std)[:,1])

0.64442315014951113

# Examine model coefficients
Almost all coefficients can be easily interpreted intuitively:
- dti: positive because more debt implies more defaults
- fico: negative because higher score implies fewer defaults
- loan_amnt: positive because bigger loan implies more defaults
- annual_inc: negative because more salary implies fewer defaults
- ranked_sub_grade: positive because worse LC risk grade implies more defaults
- employment: positive (weird because I expected more years in the same role implies fewer defaults)

Conclusion:
- adherents: negative - higher religiousity implies fewer defaults

In [496]:
pd.DataFrame({'features': X_train.columns, 'coefficients': lr_none.coef_[0]})

   coefficients          features
0             0               dti
1             0              fico
2             0       Adherents %
3             0         loan_amnt
4             0        annual_inc
5             0  ranked_sub_grade
6             0        employment

In [497]:
pd.DataFrame({'features': X_train.columns, 'coefficients': lr_all_but_adherents.coef_[0]})

   coefficients          features
0      0.053639               dti
1     -0.128155              fico
2      0.000000       Adherents %
3      0.001957         loan_amnt
4     -0.280748        annual_inc
5      0.311255  ranked_sub_grade
6      0.035417        employment

In [498]:
pd.DataFrame({'features': X_train.columns, 'coefficients': lr_all.coef_[0]})

   coefficients          features
0      0.059471               dti
1     -0.160048              fico
2     -0.010151       Adherents %
3      0.034970         loan_amnt
4     -0.330274        annual_inc
5      0.302917  ranked_sub_grade
6      0.052459        employment

# Todos
I'm taking various shortcuts to arrive at an answer. When there's time to expand my analysis, revisit these issues:
- Looked at data that was old enough to have all matured or defaulted. 
  - Must add records for each month to default or current date to determine shape of default curve and then apply this as a multiplicative factor to features
- Only used loans from Zip3 areas that have a zip code ending in "01" (example: 077XX -> 07701)
  - Substitute "02" in records that don't align?
- Used a small subset of available fields
  - Add more features

## Fill in rows for each date to last payment
A simple look at the data will be skewed because active loans may still default in the future. Only using 2012 36 month loans.

The data is supplied with status for each loan. Best to fill data with records for each month from loan start (and status = current) until today or last payment). This will allow me to determine the shape of the conditional default curve (what percentage of current loans default vs age?) and then use the current data set. I will also gain a better understanding of Loss Given Default for this data set.

Not sure if I have time to make this happen. When I do, I will go back and import data from 2013+.

In [334]:
# What are all the dates in the table?
# for each date, what are the earlier dates
# create new table with "current" until paid or written off
# table should stop before defaults and late payments start registering
#all_dates = pd.DataFrame(index=pd.unique(past_loans.sort_values('last_pymnt_d')['last_pymnt_d']))#, columns='date_d')
#all_dates['report_d'] = pd.unique(past_loans.sort_values('last_pymnt_d')['last_pymnt_d'])
#all_dates['common'] = 1
#all_dates.dropna(how = 'any')
#all_dates[(pd.notnull(all_dates['report_d']))]
# ro's idea - just loop through the data to create the data

# past_loans['common'] = 1
# partly_merged = pd.merge(past_loans, all_dates, on = 'common')
# full_past_loans = partly_merged[(partly_merged['last_pymnt_d'] >= partly_merged['report_d'] & 
#                                 pd.notnull(partly_merged['report_d']))]
# full_past_loans.head(100)